@model Heznek.Common.Email.Models.ConfirmEmail

<table cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td style="padding: 18px 0 10px">Confirm link: <a href="@Model.Link" style="font-weight:bold" target="_blank" >@Model.Link</a></td>
    </tr>
    <tr>
        <td style="padding-bottom:26px">Follow this link to confirm your account</td>
    </tr>
</table>
