@model Heznek.Common.Email.Models.ResetPasswordEmail

<table cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td style="padding: 18px 0 10px">Reset link: <a href="@Model.Link"><b>@Model.Link</b></a></td>
    </tr>
    <tr>
        <td style="padding-bottom:26px">Follow this link to reset your password</td>
    </tr>
</table>
